@model IEnumerable<Zadaniator.Models.Task1Model>

@{
    ViewData["Title"] = "Index";
}
<br />
<h4>Twoje zadania</h4>
<br />
<p>
    <a class="btn btn-outline-dark" asp-action="Create">Dodaj nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a class = "btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class = "btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a class = "btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
